<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Rest-In</h3>
                        <nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="">Accueil</a></li>
                                <li><a (click)="gotoCo()">Se connecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>


                <div class="inner cover">
                    <div class="row">
                        <div class="col-md-6">
                            <div id="map"></div>
                        </div>

                        <div class="col-md-6" style="position: fixed;overflow-y: scroll;top: 10%;bottom: 5%;right: 0;">
                            <div *ngIf="detailshotel == false">
                                <br />
                                <div class="row bloc" *ngFor="#v of v.hotels">
                                    <div class="col-xs-6 col-md-4">
                                        <img src="{{v.image}}" alt="hotels" width="200" height="200">
                                    </div>
                                    <div class="col-xs-6 col-md-8">
                                        <h2>{{v.hotel_name}}</h2><br /><p>{{v.hotel_desc}}</p>
                                        <p><button class="btn btn-primary btn-lg" (click)="onClickMe()">Plus d'informations</button></p>
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="detailshotel == true">
                                test
                            </div>
                        </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</body>