<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">
    <div class="core_co_in">
        <a class="navbar-brand menu" (click)="gotoHome()" style="padding-top:0; padding-bottom:0;"> <img class="logo" style="display:inline;" src="fichier/logo.png" /> <span style="display:inline;" class="text-logo">Find My Name</span></a>
        <form (ngSubmit)="connexion()" class="form_co">
            <a (click)="gotocheat()"><h2 style="color:antiquewhite;" class="form-signin-heading">Connectez-vous :</h2></a>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input id="inputEmail" [(ngModel)]="mail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
            <label for="inputPassword" class="sr-only">Password</label>
            <input id="inputPassword" [(ngModel)]="password" class="form-control" placeholder="Password" required="" type="password">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <p (click)="gotoIn()">Vous n'avez pas de compte ? Inscrivez-vous ici</p>
    </div>
</body>
