<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">

                    <form (ngSubmit)="connexion()" class="form_co">
                        <h2 style="color:antiquewhite;" class="form-signin-heading">Connectez-vous :</h2>
                        <br />
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input id="inputEmail" style="display:inline;" [(ngModel)]="mail" class="form-control" placeholder="Adresse mail" required=""  type="email">
                        <br />
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input  style="display:inline;" id="inputPassword" [(ngModel)]="password" class="form-control" placeholder="Mot de passe" required="" type="password">
                        <br /><br />
                        <button class="btn btn-default btn-lg active" type="submit">Se connecter</button>
                        <br /><br /><br />
                        <p (click)="gotoIn()">Vous n'avez pas de compte ? Inscrivez-vous ici</p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>

