<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Rest-In</h3>
                        <nav>
                            <ul class="nav masthead-nav" *ngIf="us!=0">
                                <li ><a (click)="goHome()">Accueil</a></li>
                                <li class="active"><a>Informations</a></li>
                                <li *ngIf="us_type==0"><a (click)="goReservation()">Mes reservations</a></li>
                                <li *ngIf="us_type==1"><a (click)="goHotel()">Mon hotel</a></li>
                                <li><a (click)="gotoDeco()">Se déconnecter</a></li>
                            </ul>
                            <ul class="nav masthead-nav" *ngIf="us==0">
                                <li><a (click)="goHome()">Accueil</a></li>
                                <li class="active"><a>Informations</a></li>
                                <li><a (click)="gotoCo()">Se connecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="inner cover" style="color:antiquewhite;font-weight: bold;">
                   

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7">
                            <h2 class="featurette-heading">First featurette heading. </h2>
                            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                        </div>
                        <div class="col-md-5">
                            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                        </div>
                    </div>

                    <hr class="featurette-divider">

                    <div class="row featurette">
                        <div class="col-md-7 col-md-push-5">
                            <h2 class="featurette-heading">Oh yeah, it's that good. </h2>
                            <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                        </div>
                        <div class="col-md-5 col-md-pull-7">
                            <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
                        </div>
                    </div>

                    <hr class="featurette-divider">

                </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>Created for <a href="">Rest-In</a> enterprise, by <a href="">@Ting</a> and <a href="">@Eldii</a>.</p>
                        </div>
                    </div>


                </div>

        </div>

    </div>

</body>