<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Rest-In</h3>
                        <nav>
                            <ul class="nav masthead-nav" *ngIf="us!=0">
                                <li ><a (click)="goHome()">Accueil</a></li>
                                <li class="active"><a>Informations</a></li>
                                <li *ngIf="us_type==0"><a>Mes reservations</a></li>
                                <li *ngIf="us_type==1"><a>Mon hotel</a></li>
                                <li><a (click)="gotoDeco()">Se déconnecter</a></li>
                            </ul>
                            <ul class="nav masthead-nav" *ngIf="us==0">
                                <li><a (click)="goHome()">Accueil</a></li>
                                <li class="active"><a>Informations</a></li>
                                <li><a (click)="gotoCo()">Se connecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                
               

                <div class="mastfoot">
                    <div class="inner">
                        <p>Created for <a href="">Rest-In</a> enterprise, by <a href="">@Ting</a> and <a href="">@Eldii</a>.</p>
                    </div>
                </div>


            </div>

        </div>

    </div>

</body>