<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">

    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Rest-In</h3>
                        <nav>
                            <ul class="nav masthead-nav" *ngIf="us!=0">
                                <li ><a (click)="goHome()">Accueil</a></li>
                                <li class="active"><a>Informations</a></li>
                                <li *ngIf="us_type==0"><a (click)="goReservation()">Mes reservations</a></li>
                                <li *ngIf="us_type==1"><a (click)="goHotel()">Mon hotel</a></li>
                                <li><a (click)="gotoDeco()">Se déconnecter</a></li>
                            </ul>
                            <ul class="nav masthead-nav" *ngIf="us==0">
                                <li><a (click)="goHome()">Accueil</a></li>
                                <li class="active"><a>Informations</a></li>
                                <li><a (click)="gotoCo()">Se connecter</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                    <div class="inner cover textcolor bloc" style="font-weight: bold; margin-top: 11%; margin-bottom: 8%;">
                        <div class="row featurette">
                            <div class="col-md-7">
                                <h2 class="featurette-heading">Rechercher vos hotels par ville spécifique.</h2>
                                <p class="lead">Promo vacances innove pour vous, une toute nouvelle application web vous permettant de rechercher n'importe quel hôtel en recherchant seulement la ville sur la page d'accueil.</p>
                            </div>
                            <div class="col-md-5">
                                <img class="featurette-image img-responsive center-block" src="./fichier/recherche.png" alt="Rechercher Client">
                            </div>
                        </div>
                        <hr class="featurette-divider">
                        <div class="row featurette">
                            <div class="col-md-7 col-md-push-5">
                                <h2 class="featurette-heading">Mettez à jour les données des hotels </h2>
                                <p class="lead">Chaque hôtelier a la chance de pouvoir intégrer de nouvelles chambres ou de nouvelles disponibilités pour chaque chambre. L'hôtelier gère ses données en se connectant et allant tout simplement dans son espace personnel.</p>
                            </div>
                            <div class="col-md-5 col-md-pull-7">
                                <img class="featurette-image img-responsive center-block" src="./fichier/hotelier.png" alt="Hoteliers">
                            </div>
                        </div>
                    </div>

                    <div class="mastfoot">
                        <div class="inner">
                            <p>Created for <a href="">Rest-In</a> enterprise, by <a href="">@Ting</a> and <a href="">@Eldii</a>.</p>
                        </div>
                    </div>


                </div>

        </div>

    </div>

</body>