<body id="animate-area" onload="startTimer()" style="background:url(../fichier/{{image}});background-size:120% 100%">
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="inner cover">

                    <form (ngSubmit)="inscription()">
                        <h2 style="color:antiquewhite;" class="form-signin-heading">Inscrivez-vous :</h2>
                        <label for="inputEmail" class="sr-only">Nom</label>
                        <input style="display:inline;" id="inputEmail" [(ngModel)]="name" class="form-control" placeholder="Nom" required="" type="text">
                        <br />
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <input style="display:inline;" id="inputEmail" [(ngModel)]="mail" class="form-control" placeholder="Adressse mail" required="" autofocus="" type="email">
                        <br />
                        <label for="inputPassword" class="sr-only">Password</label>
                        <input style="display:inline;" id="inputPassword" [(ngModel)]="password" class="form-control" placeholder="Mot de passe" required="" type="password">
                        <br />
                        <label for="inputPassword" class="sr-only">Confirme Password</label>
                        <input style="display:inline;" id="inputPassword" [(ngModel)]="confirmPasword" class="form-control" placeholder="Mot de passe" required="" type="password">
                        <br /><br />
                        <button class="btn btn-default btn-lg active" type="submit">S'inscrire</button>
                        <br /><br /><br />
                        <p (click)="gotoCo()">Vous avez déjà un compte ? Connectez-vous ici</p>
                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
